@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 1 rem = 10 px / ajuda na responsividade / o padrao do chrome é 16px estamso pegando 62,5% dele e atribuido a toda a tela  */
html {
    font-size: 62.5%; 
  }
  

body {
    font-family: Montserrat, sans-serif;
    color: #fff;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Estilização Navbar */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: #fff;
    padding: 1rem 3rem;
    height: 68px;
    position: relative;
}

nav .logo {
    width: 114px;
    height: 68px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    margin-left: 1.5rem;
}

nav .nav-links li a {
    color: #fff; 
    text-decoration: none;
    font-size: 1rem;
    line-height: 68px; 
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    width: 112px;
    height: 46px;
}

nav .nav-links li a:hover {
    background-color: #E53939; 
    color: #fff;
    border-radius: 5px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    width: 148px;
    padding: 14px;
    overflow: hidden;
    box-sizing: border-box;
}

.label img {
    height: 40px;
    width: 40px;
}

.label .sun,
.label .moon {
    flex-shrink: 0;
}

.label .moon {
    height: 44px;
    width: 44px;
}

.label .ball {
    background-color: #E53939;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px; 
    height: 54px;
    width: 54px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(-77px); 
}

/* Media Queries para Design Responsivo */

/* Tablet */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        align-items: center; 
    }

    nav .logo {
        margin-bottom: 1rem; 
    }

    nav .nav-links {
        flex-direction: column;
        align-items: center; 
    }

    nav .nav-links li {
        margin: 0.5rem 0;
    }

    nav .action-btn {
        margin-top: 1rem; 
    }
}

/* Mobile */
@media (max-width: 480px) {
    nav .nav-links li {
        margin: 0.5rem 0;
    }

    nav .nav-links li a {
        font-size: 0.9rem;
    }
}

section {
    padding: 2rem;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    color: #fff;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 212px;
    height: 122px;
    margin-bottom: 0rem;
}

.footer-left p {
    font-size: 14px;
    font-weight: 600; 
    margin-top: 0.2rem; 
}


.footer-right {
    align-items: center;
}

.footer-right p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.social-icons {
    padding-top: 24px;
    display: flex;
    gap: 1rem;
}

.social-icon {
    cursor: pointer;
}

.social-icons img[alt="LinkedIn"] {
    width: 50px;
    height: 50px;
}

.social-icons img[alt="Discord"] {
    width: 60px;
    height: 50px;
}

.social-icons img[alt="GitHub"] {
    width: 50px;
    height: 50px;
}



